<div class='brew-session-editor-menu-pane'>
  <ul class='brew-session-editor-menu'>
    <li class='brew-session-editor-menu-item'>
      {{#link-to 'brew-sessions.brew-session.edit.index' class='brew-session-editor-menu-link'}}Staging{{/link-to}}
    </li>
    <li class='brew-session-editor-menu-item'>
      {{#link-to 'brew-sessions.brew-session.edit.mash' class='brew-session-editor-menu-link'}}Mash{{/link-to}}
    </li>
    <li class='brew-session-editor-menu-item'>
      {{#link-to 'brew-sessions.brew-session.edit.boil' class='brew-session-editor-menu-link'}}Boil{{/link-to}}
    </li>
    <li class='brew-session-editor-menu-item'>
      {{#link-to 'brew-sessions.brew-session.edit.ferment' class='brew-session-editor-menu-link'}}Ferment{{/link-to}}
    </li>
    <li class='brew-session-editor-menu-item'>
      {{#link-to 'brew-sessions.brew-session.edit.stream' class='brew-session-editor-menu-link'}}Stream {{/link-to}}
    </li>
  </ul>
</div>
<div class='brew-session-editor-content-pane'>
  {{yield}}
</div>