{{input
  class='ingredient-editor-amount-input'
  value=(readonly ingredient.amount)
  size=1
  input=(action (pipe (action 'updateAmount') (action onChange)))}}
{{resource-picker
  class='ingredient-editor-resource-picker'
  selectedResourceId=ingredient.resourceId
  onChange=(action (pipe (action 'updateResource') (action onChange)))}}
<button
  class='btn btn-text'
  {{action onRemove}}>
  {{fa-icon 'times'}}
</button>