<div class='form-group'>
  <label class='form-group-label'>
    <span class='form-group-label-title'>Title</span>
    {{input class='form-group-input' value=process.title input=(action onChange)}}
  </label>
</div>
<div class='form-group'>
  <span class='form-group-label'>
    <span class='form-group-label-title'>Parameters</span>
    <button
      class='btn btn-text add-parameter-button'
      {{action (pipe (action 'addParameter') (action onChange))}}>
      {{fa-icon 'plus'}} Parameter
    </button>
  </span>
  <div class='parameter-list-header'>
    <span class='parameter-list-header-name'>Name</span>
    <span class='parameter-list-header-type'>Type</span>
  </div>
  <ul class='parameter-list'>
    {{#each process.parameters key='@index' as |parameter|}}
      <li class='parameter-list-item'>
        {{property-definition-editor
          propertyDefinition=parameter
          onChange=(action (pipe (action 'updateParameter' parameter) (action onChange)))
          onRemove=(action (pipe (action 'removeParameter' parameter) (action onChange)))}}
      </li>
    {{/each}}
  </ul>
</div>