{{input
  class='property-editor-name-input'
  value=(readonly property.name)
  size=1
  input=(action (pipe (action 'updateName') (action onChange)))}}
{{input
  class='property-editor-value-input'
  value=(readonly property.value)
  size=1
  input=(action (pipe (action 'updateValue') (action onChange)))}}
<button
  class='btn btn-text property-editor-remove-button'
  {{action onRemove}}>
  {{fa-icon 'times'}}
</button>