.ingredient-group-editor

  &-header
    display: flex

    .remove-ingredient-group-button
      margin-left: auto

  &-list-header
    margin: .5rem
    display: flex
    align-items: baseline
    margin: .5rem

  &-list
    padding: 0
    list-style: none

    &-item
      margin: .5rem

  &-list-header-measure,
  .ingredient-editor-measure-input
    flex: 0 1 100px

  &-list-header-unit,
  .ingredient-editor-unit-input
    flex: 0 1 100px
    margin-left: 5px

  &-list-header-resource,
  .ingredient-editor-resource-picker
    flex: 1
    margin-left: 5px
