.process-editor
  padding: 2rem

  .form-group
    margin-bottom: 2rem

    &-label
      display: block
      font-weight: normal

    &-input
      display: block
      width: 100%

  .parameter-list-header
    display: flex
    align-items: baseline
    margin: .5rem

    &-name,
    &-type
      flex: 0 1 200px

    &-name
      margin-right: 5px

  .parameter-list
    padding: 0
    list-style: none

    &-item
      margin: .5rem
