.recipe-editor
  position: relative
  padding: 2rem

  .item-dirty-status
    position: absolute
    width: 20px
    height: 20px
    top: 1rem
    right: 2rem

  .form-group
    margin-bottom: 2rem

    &-label
      display: block
      font-weight: normal

      &-title
        display: block

    &-input
      display: block
      width: 100%

  .save-button
    margin-right: .5rem
