.resource-editor
  padding: 2rem

  .form-group
    margin-bottom: 2rem

    &-label
      display: block
      font-weight: normal

    &-input
      display: block
      width: 100%

  &-property-list
    list-style: none
    padding: 0

    &-header
      display: flex

      &-name
        flex: 0 1 200px
        margin-right: 5px

      &-value,
        flex: 0 1 120px
        margin-right: 5px
