{{app-header
  user=session.currentUser
  onHome=(route-action 'goHome')
  onSignIn=(route-action 'signIn')
  onSignOut=(route-action 'signOut')
}}
<div class='app-content'>
  {{#if session.isAuthenticated}}
    {{outlet}}
  {{/if}}
</div>
{{tool-menu}}